NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_AUTH_SERVICE_URL=http://localhost:3001
NEXT_PUBLIC_RIDE_SERVICE_URL=http://localhost:3004
NEXT_PUBLIC_FOOD_SERVICE_URL=http://localhost:3005
NEXT_PUBLIC_ORDER_SERVICE_URL=http://localhost:3006
NEXT_PUBLIC_PAYMENT_SERVICE_URL=http://localhost:3007
